* {
    box-sizing: border-box;

}

body {
    margin: 0px;
}

.container {
    width: 95%;
    border: 10px solid red;
    margin: 0px auto;
    height: 2000px;
}

.row:after {
    content:" ";
    clear:both; /*control floating behaviour;*/
    display:block; /*take free space*/
    
}
.col_1 {
    width: 8.33%;
}

.col_2 {
    width: 16.66%;
}

.col_3 {
    width: 25%;
}

.col_4 {
    width: 33.33%;
}

.col_5 {
    width: 41.33%;
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: 58.33%;
}

.col_8 {
    width: 66.66%;
}

.col_9 {
    width: 75%;
}

.col_10 {
    width: 83.33%;
}

.col_11 {
    width: 91.66%;
}

.col_12 {
    width: 100%;
}

[class*="col"] {
    float: left;
    border: 1px solid;
    height: 40px;
}

@media only screen and (min-width:320px) and (max-width:760px) {

    .row:after {
        content:" ";
        clear:both; /*control floating behaviour;*/
        display:block; /*take free space : none*/
        
    }
    .container {
        width: 95%;
        border: 5px solid red;
        margin: 0px auto;
        height: 2000px;
    }

    [class*="col_"] {
        width: 100%;
        float: left;
        border: 1px solid;
        height: 40px;
    }

    .header {
        height: 100px;
    }

    .menu {
        height: 250px;

    }

    .menu ul {
        margin:auto;
    }

    .menu ul li {
        float: left;
        list-style: none;


    }

    ul li a {
        display: inline block;
        margin: 0 20px 0 0;
        background-color: rgb(4, 255, 0);
        padding: 10px;
        text-decoration: none;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 40px;


    }

    .slider {
        height: 400px;
    }

    .service_section {
        height: 300px;

    }

    .footer_top {
        height: 200px;

    }

    .footer {
        height: 80px;

    }


}
@media only screen and (min-width:761px) and (max-width:1200px) {

    .container {
        width: 95%;
        border: 5px solid red;
        margin: 0px auto;
        height: 2000px;
    }

    [class*="col_"] {
        width: 50%;
        float: left;
        border: 1px solid;
        height: 40px;
    }

    .header {
        height: 100px;
    }

    .menu {
        height: 250px;
        width: 100%;

    }

    .menu ul {
        margin:0px;
    }

    .menu ul li {
        float: left;
        list-style: none;


    }

    ul li a {
        display: inline block;
        margin: 0 20px 0 0;
        background-color: rgb(4, 255, 0);
        padding: 10px;
        text-decoration: none;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 40px;


    }

    .slider {
        height: 400px;
    }

    .service_section {
        height: 300px;

    }

    .footer_top {
        height: 200px;

    }

    .footer {
        height: 80px;

    }


}

.header {
    height: 100px;
}

.menu {
    height: 75px;

}

.menu ul {
    margin:0;
}

.menu ul li {
    float: left;
    list-style: none;


}

ul li a {
    display: inline block;
    margin: 0 20px 0 0;
    background-color: rgb(4, 255, 0);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 800;


}

.slider {
    height: 400px;
}

.service_section {
    height: 300px;

}

.footer_top {
    height: 200px;

}

.footer {
    height: 80px;

}