
.Books{
    width: 300px;
    height: auto;
    margin: 10px auto;
    padding:5px;
    border: 1px solid black;
    border-radius:10px;
   

}

.Books:hover{
    border: 1px solid orange;
    cursor: pointer;
    color:orange;
}